{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center mb-4">Django CRUD</h1>
        <p>
            Esta es una aplicación desarrollada con Python y su framework Django.
            La función principal de esta aplicación es poder llevar un registro de tasks o tareas.
            Esto con la intención de demostrar la capacidad que tiene el lenguaje para desarrollar una aplicación
            CRUD
            (Create,
            Read, Update and Delete).
            Sientete libre de registrarte, y probar un poco de esta sencilla aplicación web. Gracias. :D
        </p>
        <div class="text-center">
            <a href="{% url 'signin' %}" class="btn btn-primary">
                Signin
            </a>
            <a href="{% url 'signup' %}" class="btn btn-success">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}