{% extends 'base.html' %}

{% block content %}
<h1>HOME</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum accusamus provident, tempore quibusdam et quas at
    repudiandae non nesciunt vero! Molestias tenetur nihil cum itaque harum reprehenderit sapiente corporis nemo.
    Inventore officia pariatur possimus reiciendis error nihil, quam nemo omnis aperiam saepe, rerum et tempore ad
    impedit suscipit ex, fuga eveniet nesciunt recusandae enim atque quisquam. Vitae quam sapiente harum, magnam optio
    vero. Suscipit temporibus iste saepe cum voluptatibus debitis. Rerum, architecto. Delectus esse consequuntur
    accusantium odit tenetur temporibus deserunt velit itaque? Corrupti minima tempore deserunt officiis autem dolores
    soluta aut ex sit vel, reiciendis, necessitatibus perspiciatis! Necessitatibus, facilis odit?
</p>
{% endblock %}