{% extends 'base.html' %}

{% block content %}
<h1>Tasks</h1>

<div>
    {% for task in tasks %}
    <li>
        <a href="{% url 'task_detail' task.id %}">
            <h1>{{task.title}}</h1>
            <p>{{task.description}}</p>
            <p>{{task.user.username}}</p>
        </a>
        <div>
            <form action="{% url 'complete_task' task.id %}" method="post">
                {% csrf_token %}
                <button>Complete</button>
            </form>
            <form action="{% url 'delete_task' task.id %}" method="post">
                {% csrf_token %}
                <button>Delete</button>
            </form>
        </div>
    </li>
    {% endfor %}
</div>
{% endblock %}